<a href="https://colab.research.google.com/github/Tinuthas/Colabs/blob/main/AttendanceCheekyPubs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cheeky Pubs Attendance

## Part one
Execute the first block and choose your file ".txt"

In [218]:
from google.colab import files
import os
uploaded = files.upload()
for fn in uploaded.keys():
  os.rename(fn, 'data.txt')

Saving 001_GLog.txt to 001_GLog.txt

## Part Two

Execute to calculate hours

In [219]:
from datetime import date, datetime, time, timedelta
import pandas as pd
data = pd.read_csv('data.txt', sep="\t+", engine='python')
data.columns = ["No","Mchn","EnNo","Name","Mode","IOMd","DateTime"]

data['DateTime'] = pd.to_datetime(data['DateTime'])
data = data.iloc[::-1] 
data['Dates'] = pd.to_datetime(data['DateTime']).dt.date
data['Time'] = pd.to_datetime(data['DateTime']).dt.time

exampleDt = timedelta()
dataEmployee = pd.DataFrame()
employees = dict()

for index, row in data.iterrows():
  if row.Name in employees:
    employees[row.Name].append({"date" : row.Dates, "time": row.Time, "datetime": row.DateTime})
  else:
    employees[row.Name] = [{"date" : row.Dates, "time": row.Time, "datetime": row.DateTime}]



for item in employees:
  #print(employees[item])

  empDisplay = dict()
  empColumns = dict()

  for dates in employees[item]:
    #empDisplay.append({dates.get('date'):dates.get('time')})
    
    if dates.get('date') in empDisplay:
      empDisplay[dates.get('date')].append(dates.get('time'))

      if empColumns.get('count') == 0:
        dtime = empColumns.get('dateOld') - dates.get('datetime')
        empColumns[dates.get('date')] = empColumns[dates.get('date')] + dtime
        empColumns['count'] = 1
      else: 
        empColumns['dateOld'] = dates.get('datetime')
        empColumns['count'] = 0
    else:
      empDisplay[dates.get('date')] = [dates.get('date'), dates.get('time')]
      empColumns[dates.get('date')] = exampleDt
      empColumns['count'] = 0
      empColumns['dateOld'] = dates.get('datetime')

  del empColumns["dateOld"]
  del empColumns["count"]
  e = pd.DataFrame(list(empDisplay.values()))
  e = e.set_index(e.columns[0])
  e['Hours'] = list(empColumns.values())
  e = e.iloc[::-1, ::-1]
  e.index.name = None
  e.columns.name = item.upper()
  display(e)
  total = round(e['Hours'].sum() / pd.Timedelta(hours=1), 2)
  print()
  print(item.upper().strip(),"- Total Hours:", total)
  print()
  print('----------------------------------')
  print()
  #display(e.iloc[:, ::-1])

print()
print('All data: ')
print()
data = pd.read_csv('data.txt', sep="\t+", engine='python')
data.columns = ["No","Mchn","EnNo","Name","Mode","IOMd","DateTime"]
#data = data.iloc[::-1]
#data['DateTime'] = pd.to_datetime(data['DateTime'])
data['Dates'] = pd.to_datetime(data['DateTime']).dt.date
data['Time'] = pd.to_datetime(data['DateTime']).dt.time

display(data)

VINI                     Hours         4         3         2         1
2023-02-28     0 days 07:14:00  07:28:00  09:01:00  12:31:00  18:12:00
2023-03-01     0 days 03:23:00      None  07:27:00  09:03:00  12:26:00
2023-03-02     0 days 06:38:00      None      None  07:21:00  13:59:00
2023-03-03     0 days 00:00:00      None      None      None  07:20:00

VINI - Total Hours: 17.25

----------------------------------

AMY                      Hours         2         1
2023-02-28     0 days 08:01:00  09:07:00  17:08:00
2023-03-01     0 days 03:11:00  15:22:00  18:33:00
2023-03-02     0 days 07:17:00  10:57:00  18:14:00

AMY - Total Hours: 18.48

----------------------------------

ABIGAIL                  Hours         2         1
2023-02-28     0 days 08:05:00  10:25:00  18:30:00
2023-03-01     0 days 08:04:00  09:30:00  17:34:00
2023-03-02     0 days 08:09:00  09:29:00  17:38:00

ABIGAIL - Total Hours: 24.3

----------------------------------

EMMA                     Hours         2         1
2023-02-28     0 days 08:02:00  08:53:00  16:55:00
2023-03-01     0 days 08:12:00  08:56:00  17:08:00

EMMA - Total Hours: 16.23

----------------------------------


All data:

,No,Mchn,EnNo,Name,Mode,IOMd,DateTime,Dates,Time
0,1,1,1,vini,1,0,2023/02/28 07:28:00,2023-02-28,07:28:00
1,2,1,3,emma,1,0,2023/02/28 08:53:00,2023-02-28,08:53:00
2,3,1,1,vini,1,0,2023/02/28 09:01:00,2023-02-28,09:01:00
3,4,1,4,amy,1,0,2023/02/28 09:07:00,2023-02-28,09:07:00
4,5,1,2,abigail,1,0,2023/02/28 10:25:00,2023-02-28,10:25:00
5,6,1,1,vini,1,2,2023/02/28 12:31:00,2023-02-28,12:31:00
6,7,1,3,emma,1,2,2023/02/28 16:55:00,2023-02-28,16:55:00
7,8,1,4,amy,1,2,2023/02/28 17:08:00,2023-02-28,17:08:00
8,9,1,1,vini,1,3,2023/02/28 18:12:00,2023-02-28,18:12:00
9,10,1,2,abigail,1,3,2023/02/28 18:30:00,2023-02-28,18:30:00
10,11,1,1,vini,1,0,2023/03/01 07:27:00,2023-03-01,07:27:00
11,12,1,3,emma,1,0,2023/03/01 08:56:00,2023-03-01,08:56:00
12,13,1,1,vini,1,0,2023/03/01 09:03:00,2023-03-01,09:03:00
13,14,1,2,abigail,1,0,2023/03/01 09:30:00,2023-03-01,09:30:00
14,15,1,1,vini,1,1,2023/03/01 12:26:00,2023-03-01,12:26:00
15,16,1,4,amy,1,2,2023/03/01 15:22:00,2023-03-01,15:22:00
16,18,1,3,emma,1,2,2023/03/01 17:08:00,2023-03-01,17:08:00
17,19,1,2,abigail,1,3,2023/03/01 17:34:00,2023-03-01,17:34:00
18,20,1,4,amy,1,3,2023/03/01 18:33:00,2023-03-01,18:33:00
19,21,1,1,vini,1,0,2023/03/02 07:21:00,2023-03-02,07:21:00
20,22,1,2,abigail,1,0,2023/03/02 09:29:00,2023-03-02,09:29:00
21,23,1,4,amy,1,0,2023/03/02 10:57:00,2023-03-02,10:57:00
22,24,1,1,vini,1,2,2023/03/02 13:59:00,2023-03-02,13:59:00
23,25,1,2,abigail,1,3,2023/03/02 17:38:00,2023-03-02,17:38:00
24,26,1,4,amy,1,3,2023/03/02 18:14:00,2023-03-02,18:14:00
25,27,1,1,vini,1,0,2023/03/03 07:20:00,2023-03-03,07:20:00